@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
/*https://pixabay.com/illustrations/camouflage-military-texture-1541188/*/

body{
	overflow:hidden;
}


#r1{
	z-index:10;
	position:fixed;
	left:0;
	bottom:0;
	background-image: url('/images/camo.jpg');
	background-size: cover;
	width:100vw;
	height:17vh;
	border-top:thick solid white;
	
}

#r2{
	z-index:10;
	background-image: url('/images/camo.jpg');
	background-size: cover;
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:16vh;
	border-bottom:thick solid white;
}

#r3{
	z-index:11;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('/images/camo.jpg');
	background-size: cover;
	position:fixed;
	left:0;
	top:0;
	width:9vw;
	height:100vh;
	border-right:thick solid white;
}

#r4{
	z-index:11;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('/images/camo.jpg');
	background-size: cover;
	position:fixed;
	right:0;
	top:0;
	width:9vw;
	height:100vh;
	border-left:thick solid white;
}

#r5{
	z-index:13;
	position:fixed;
	left:0;
	bottom:0;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('/images/camo.jpg');
	background-size: cover;
	width:100vw;
	height:17vh;
}


#r6{
	z-index:13;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/images/camo.jpg');/*https://www.youtube.com/watch?v=a2UnYs9AA_M*/
	background-size: cover;
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:16vh;
}


body{
	background-color: black;
}



#main {
	display: grid;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	--scale: 1;
	--s: calc(var(--scale) * 40px);
	/* size  */
	--m: calc(var(--scale) * 1px);
	/* margin */
	--f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
	user-select: none;

	width:calc(var(--scale) * 1000px);
}

.container {
	font-size: 0;
	/* disable white space between inline block element */
	margin-left: auto;
	margin-right: auto;
}

.container div {
	width: var(--s);
	margin: var(--m);
	height: calc(var(--s) * 1.1547);
	display: inline-block;
	font-size: initial;
	clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
	margin-bottom: calc(var(--m) - var(--s) * 0.2885);
	background-image: url(images/fogTile.svg);
	background-size: 100% 100%;
}


/*https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/*/

img {
	position: absolute;
	pointer-events: none;
	width: var(--s);
	height: var(--s);
}

.hidden {
	display: none;
}

#passbutton{
	width:215px;
	height:50px;
	padding:5px;
    font-size:20px;
	background-color:#222222;
	border:2px solid white;
	color:white;
	font-family:'Black Ops One', cursive;
}

#passbutton:hover{
	background-color:white;
	border:2px solid #222222;
	color:black;
}

#text{
	font-size:20px;
	color:white;
	font-family:'Black Ops One', cursive;
}

#error {
	font-size: 18px;
	color: red;
	display: none;
	font-weight: 800;
}

h1{
	font-size:25px;
	color:white;
	font-family: 'Stalinist One', cursive;
}

input {
	width: 200px;
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	text-align: center;
}

#lightbox {
  z-index:100;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,1);

}

#message {
    width:70%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('/images/camo.jpg');
    background-color:#777777;
	border:3px solid white;
    text-align:center;
    font-family: 'PT Mono', monospace;
    
    /* Center the message in the lightbox */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left:10px;
	padding-right:10px;
	padding-top:100px;
	padding-bottom:100px;
	font-size:14px;
}


#infodiv{
	z-index:101;
	position:fixed;
    left: 0;
    right: 0;
	top:3vh;
	display:grid;
	grid-template-areas: 
	'one'
	'two'
	'three';
}

#infantinfo{
	grid-area:soldier;
}

#tankinfo{
	grid-area:tank;
}

#artinfo{
	grid-area:artillery;
}

#armydiv{
	z-index:101;
	position:fixed;
    left: 0;
    right: 0;
	bottom:5vh;
	display:grid;
	grid-template-areas: 
	'soldier tank artillery';
}

#pass1,#pass2,#numplay{
	font-family:'Black Ops One', cursive;
	z-index:101;
	color:white;
	font-size:2.5vh;

	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: none;
}

#numplay {
	grid-area: three;
}

#pass2 {
	grid-area: two;
}

#pass1{
	grid-area:one;
}

@media only screen and (min-width: 460px) {
	
	#message{
		padding-left:30px;
		padding-right:30px;
	}

}

@media only screen and (min-width: 600px) {
	
	#r1,#r5{
		height:18vh;
	}
	
	#r3{
		width:11vw;
	}
	
	#r4{
		width:11vw;
	}
	

}

@media only screen and (min-width: 800px) {
	#infodiv{
	top:5.5vh;
	width:80vw;
	right:50%;
	left:10%;
	text-align:center;
	grid-template-areas: 
	'one two three';
}

#message {
    width:50%;
}

#passbutton{
	font-size:25px;
}

h1{
	font-size:30px;
}

#text{
	font-size:25px;
}

#error{
	font-size:23px;
}

}

@media only screen and (min-width: 1000px) {
	#pass1,#pass2,#numplay{
	font-size:3vh;
}

#passbutton{
	margin-top:10px;
	padding:9px;
}

}

@media only screen and (min-width: 1200px) {
	#pass1,#pass2,#numplay{
	font-size:3.5vh;
}

}

@media only screen and (min-width: 1400px) {
#message {
    width:30%;
}

}

#movebuttondiv{
	position:absolute;
	bottom:3vh;
	z-index:101;
}


#up11{
	position:fixed;
	z-index:300;
	bottom:10%;
	right:34%;
	display:none;
	pointer-events:initial;
	width:60px;
	height:60px;
}

#right{
	position:fixed;
	z-index:300;
	rotate: 90deg;
	bottom:6.5%;
	right:24%;
	display:none;
	pointer-events:initial;
	width:60px;
	height:60px;
}

#down{
	position:fixed;
	z-index:300;
	rotate: 180deg;
	bottom:3%;
	right:34%;
	display:none;
	pointer-events:initial;
	width:60px;
	height:60px;
}

#left{
	position:fixed;
	z-index:300;
	rotate: 270deg;
	bottom:6.5%;
	right:44%;
	display:none;
	pointer-events:initial;
	width:60px;
	height:60px;
}

#plus{
	position:fixed;
	z-index:300;
	bottom:10%;
	left:30%;
	display:none;
	pointer-events:initial;
	width:60px;
	height:60px;
}

#minus{
	position:fixed;
	z-index:300;
	rotate: 180deg;
	bottom:3%;
	left:30%;
	display:none;
	pointer-events:initial;
	width:60px;
	height:60px;
}
